### idea files ###
.idea

### macOS ###
.DS_Store

### pyenv ###
.python-version

### pycache ###
__pycache__

### venv ###
.venv

### junie Guideline ###
.junie

### vscode ###
.github/prompts/
copilot-instructions.md

### cursor ###
*.mdc